.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 
body {
	background-color: white;
	text-align: center;
	font-family: Helvetica, sans-serif;
}
input {
	border: 2px solid #999;
	font-family: ComixLoud, sans-serif;
	color: #999;
}

#guessfield {
	color: blue;
	font-family: 'HELVETICA', 'cursive';
	font-size: 3.0em;
}

h1 {
	font-size: 40px;
	font-family: 'ComixLoud', 'cursive';
}

.gamediv{
	width = 500px;
 	padding: 15px;
	background-color:  #00ff00;
	border-radius: 5px;
}

#hangman{
	height: 300px;
	width: 300px;
}
