body {
background: url(fix2.png), url(hero2.png), url(hero1.png), url(hero1.png),url(hero1.png),url(hero1.png),url(hero1.png),url(fix9.png),url(fix12.png),url(fix11.png), url(fix13.png),url(hero1.png), url(hero1.png),url(hero1.png);
background-repeat: no-repeat;
background-position:300px 15px, 300px 215px, 300px 315px, 300px 415px, 300px 515px, 300px 615px, 300px 715px, -5px 150px,-20px 450px,1040px 10px,1040px 370px,300px 815px, 300px 915px, 300px 1015px;
background-attachment:scroll;
background-size:700px 120px,700px 120px,700px 120px,700px 120px,700px 120px,700px 120px,700px 120px, 300px, 300px, 300px, 230px,700px 120px,700px 120px,700px 120px;
padding: 10px;
font-family: 'Neucha', cursive;
font-size: 27px;
line-height: 1.5;
min-width:1350px;
max-width:1355px;


}




.main-menu {
float:right;
margin-top:26px;
margin-left:385px;
margin-right:355px;
padding: 0px;
list-style: none;
border: 2px  #FFFAFA;
width:603px;
position:absolute;


}
.main-menu li {
display:inline-block;
margin-right: -4px;

}
.main-menu a {
text-decoration: none;
display: block;
padding: 8px 10px;
color:#FF8C00;
background-color: #F5F5F5;

margin-left:-4px;
}
.main-menu a:hover {
background-color: #F5DEB3;
}

.fix{
	margin-left: 315px;
	margin-top:110px;
	margin-right:400px;
	color:white;
}
.nolik{
	margin-left:315px;
	border:5px ridge white;
	width:628px;
	height:390px;
	
}
